@page "/artist/add"
@rendermode InteractiveServer
@using RSFrontEnd.Models;


<div class="container h-100" style="margin-top:5%">
    <div class="addartist row h-100">
        <h5 id="pinkheader">Add Artist</h5>
        <AddArtistForm/>
    </div>
</div>


@code{

    

}