@page "/song/add"
@rendermode InteractiveServer


<div class="container h-100" style="margin-top:5%">
    <div class="addartist row h-100">
        <h5 id="pinkheader">Add Song</h5>
        <AddSongForm/>
    </div>
</div>

@code {

    

}