@page "/"
@rendermode InteractiveServer
@using RSFrontEnd.Models;
@using RSFrontEnd.Clients;
@using AuralizeBlazor; 
@using AuralizeBlazor.Features
@using FuzzySharp;

<PageTitle>Home</PageTitle>

<!--- pull out into component? will search render correctly? --> 
<div class="text-center bg-blue-100">
    <input class="border-4 w-1/3 rounded m-6 p-6 h-8 border-blue-300" @bind="SearchText" @bind:event="oninput" placeholder="Search by Song"/>
    @if (FilteredSongs.Any())
    {
        <div class="searchwrapper">
            <div class="mx-auto" style="width: 27%; position: absolute">
                <div class="list-group searchresults" > 
                    @foreach (var ar in FilteredSongs)
                    {
                        <a class="searchresults list-group-item list-group-item-action" @onclick="() => UpdateChoice(ar.Id)">@ar.Name</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<br/>

@if (randomSong == null)
{
    <Loader></Loader>
}
else
{
    <HomeArtistDisplay DisplayedSong="@randomSong" NewRandomSong="@UpdateRandom"></HomeArtistDisplay>
}


<br/>

<!--- this only works on windows browsers using microphone? --->
<MudIconButton Title="Picture in picture" OnClick="@(() => _vis.TogglePictureInPicture())" />
<Auralizer @ref=_vis
           ConnectMicrophone="true"
           InitialPreset="AuralizerPreset.NeonPulse"
           Features="_myFeatrues"
           Height="470px">
</Auralizer>



@code {
    
    private string searchText = "";
    
    private string SearchText
    {
        get => searchText;
        set
        {
            searchText = value;
            DynamicSearch(); 
        }
    }

    public Song randomSong { get; set; } 
    
    public List<Song> songs { get; set; } = new List<Song>() ;

    public List<Song> FilteredSongs { get; set; } = new List<Song>(); 

    protected override async Task OnInitializedAsync()
    {
        var webclient = new HttpBackendClient<List<Song>>("api/song");
        songs = await webclient.GetRequest();
        Random rn = new Random();
        randomSong = songs[rn.Next(0, songs.Count)]; 
    }
    
    
    public void DynamicSearch()
    {
        if (!string.IsNullOrEmpty(SearchText) && songs != null && songs.Count > 0)
        {
            FilteredSongs = songs
                .Where(a => Fuzz.PartialRatio(a.Name, SearchText) > 60)  
                .ToList();
        } else 
        {
            FilteredSongs = new (); 
        }
    }

    public void UpdateRandom()
    {
        Random rn = new Random();
        randomSong = songs[rn.Next(0, songs.Count)]; 
    }

    public void UpdateChoice(int id)
    {
        Console.WriteLine("Called updated choice");
        randomSong = songs.Where(s => s.Id == id).FirstOrDefault();
        SearchText = ""; 
    }
    
    
    Auralizer _vis;

    private IVisualizerFeature[] _myFeatrues = new IVisualizerFeature[]
    {
        new ShowLogoFeature() {Label = "Click visualizer to start"},
    };


}
