@page "/"
@rendermode InteractiveServer
@using RSFrontEnd.Models;
@using RSFrontEnd.Clients;
@using AuralizeBlazor; 
@using AuralizeBlazor.Features
@using AuralizeBlazor.Options
@using BlazorJS.Attributes
@using VisualizationMode = AuralizeBlazor.Options.VisualizationMode
@using FuzzySharp;

<PageTitle>Home</PageTitle>

<!--- pull out into component? will search render correctly? --> 
<div class="text-center bg-blue-100">
    <input class="border-4 w-1/3 rounded m-6 p-6 h-8 border-blue-300" @bind="SearchText" @bind:event="oninput" placeholder="Search by Artist"/>
    @if (FilteredArtists.Any())
    {
        <div class="searchwrapper">
            <div class="mx-auto" style="width: 27%; position: absolute">
                <div class="list-group searchresults" > 
                    @foreach (var ar in FilteredArtists)
                    {
                        <a class="searchresults list-group-item list-group-item-action">@ar.Name</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<br/>

<!--- generate random artist & provide as a parameter -->
<!--- onclick will need to be event callback --->
<HomeArtistDisplay></HomeArtistDisplay>

<br/>

<!--- this only works on windows browsers using microphone? --->
<MudIconButton Title="Picture in picture" OnClick="@(() => _vis.TogglePictureInPicture())" />
<Auralizer @ref=_vis
           ConnectMicrophone="true"
           InitialPreset="AuralizerPreset.NeonPulse"
           Features="_myFeatrues"
           Height="470px">
</Auralizer>



@code {
    
    private string searchText = "";
    
    private string SearchText
    {
        get => searchText;
        set
        {
            searchText = value;
            DynamicSearch(); 
        }
    }
    

    public List<Artist> artists { get; set; } = new List<Artist>() { new Artist(){ Name = "Amy Winehouse"}, new Artist(){ Name = "Dolly Parton"}, new Artist(){ Name ="Amy McDonald"} } ;

    public List<Artist> FilteredArtists = new List<Artist>(); 

    // protected override async Task OnInitializedAsync()
    // {
    //     var webclient = new HttpBackendClient<List<Artist>>("api/artist");
    //     artists = await webclient.GetRequest();
    // }
    
    
    public void DynamicSearch()
    {
        if (SearchText != "" && artists.Count > 0)
        {
            FilteredArtists = artists
                .Where(a => Fuzz.PartialRatio(a.Name, SearchText) > 60)  
                .ToList();
        } else 
        {
            FilteredArtists = new List<Artist>(); 
        }
    }


    Auralizer _vis;

    private IVisualizerFeature[] _myFeatrues = new IVisualizerFeature[]
    {
        // change label so it is dynamically updated with new artist name?
        new ShowLogoFeature() {Label = "Back to Black"},
    };


}
