@page "/"
@rendermode InteractiveServer
@using RSFrontEnd.Models;

<PageTitle>Home</PageTitle>

<h6>Our artists</h6>

<h6>We are definitely owned by Apple.</h6>

<RecordsLoader></RecordsLoader>

@code {

}