@using RSFrontEnd.Models; 
@using RSFrontEnd.Clients;
@inject NavigationManager NavManager

<div class="artist" >
    <TrashIcon></TrashIcon>
    <h5>@artist.Name</h5> 
    <img src="@artist.ImageUrl" width="100%" @onclick="ChangePage" />

</div>

@code {

    [Parameter]
    public Artist artist { get; set;  }


    public void ChangePage()
    {
        NavManager.NavigateTo($"/artists/{artist.Id}");
    }

    public async Task DeleteArtist()
    {
        var client = new HttpBackendClient<Artist>($"api/artist/{artist.Id}");
        var response = await client.DeleteRequest();
    }

}
