@using RSFrontEnd.Models; 
@using RSFrontEnd.Clients;

@inject NavigationManager NavManager


<div class="artist">
    <div @onclick="PopupCall">
    <TrashIcon></TrashIcon>
     </div>
    <h5>@artist.Name</h5> 
    <div id="popupmain">
        <Popup @ref="popupRef" Confirm="DeleteItem" />
    </div>
    <img src="@artist.ImageUrl" width="100%" @onclick="ChangePage" />
</div>



@code {

    public Popup popupRef { get; set; }

    [Parameter]
    public Artist artist { get; set;  }


    public void ChangePage()
    {
        NavManager.NavigateTo($"/artists/{artist.Id}");
    }


    private void PopupCall()
    {
        popupRef.Show("Are you sure you want to delete this?");
    }


    [Parameter]
    public EventCallback<int> deleteFunction { get; set; }

    private async Task DeleteItem()
    {
        await deleteFunction.InvokeAsync(artist.Id);
    }


}
