@using RSFrontEnd.Models;
@using RSFrontEnd.Clients; 
@rendermode InteractiveServer

<div class="container">
<div class="row">
    
    <Virtualize Items="artists" Context="artist">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <ArtistSummary artist="artist" deleteFunction="DeleteArtist"></ArtistSummary>
        </div>
    </Virtualize>
 
</div>
</div>



@code {

    [Parameter]
    public List<Artist> artists { get; set; }

    public async Task DeleteArtist(int id)
    {
        var client = new HttpBackendClient<Artist>($"api/artist/{id}");
        var response = await client.DeleteRequest();
        if (response == System.Net.HttpStatusCode.NoContent)
        {
            artists = artists.Where(a => a.Id != id).ToList();
            StateHasChanged();
        }
    }


}
