@using RSFrontEnd.Models; 
@inject NavigationManager NavManager

<div class="artist" @onclick="ChangePage">

    <h5>@artist.Name</h5>
    <img src="@artist.ImageUrl" width="100%"/>
</div>

@code {

    [Parameter]
    public Artist artist { get; set;  }


    public void ChangePage()
    {
        NavManager.NavigateTo($"/artists/{artist.Id}");
    }

}
