@rendermode InteractiveAuto

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="homeartistdisplay">
                <p id="playing">Now Playing:</p>
                <p>Back to Black, Amy Winehouse</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="homeartistdisplay">
                <iframe id="spotify" src="https://open.spotify.com/embed/track/30FURVTCpbKyykjSEQzGkH" width="400" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="homeartistdisplay">
                <p id="playing">Next song ⏭️</p>
                <p id="smalltext">Click for a new song or select from the search bar</p>
            </div>
        </div>
    </div>
</div>

