@using RSFrontEnd.Models;
@using RSFrontEnd.Clients;
@using RSFrontEnd.Models.InputModels;
@rendermode InteractiveServer


@if (artist == null)
{
    <Loader></Loader>
} else
{

    <div class="container">
    <div class="row align-items-start">

        <div class="col">
    
            <h1>@Text</h1>
            <h3>Update Artist</h3>
                
            <br />

            <label for="an">Artist Name:</label>
               
            <br />

            <InputText id="an" @bind-Value="@artist.Name"/>

            <br />

            <label for="au">Artist Url:</label>
               
            <br />

            <InputText id="au" @bind-Value="@artist.ImageUrl"/>

            <br />

            <label for="ya">Years Active:</label>
            
            <br />

            <InputText id="ya" @bind-Value="yearsactive" />

            <br />

            <button @onclick="UpdateMe">Save changes?</button>

        </div>

        <div class="col">

            <img src="@artist.ImageUrl" />
    </div>
    </div>
        
    </div>
}

@code {

    public Artist artist { get; set; }

    public string yearsactive { get; set; }

    public string Text { get; set;  }

    protected override async Task OnInitializedAsync()
    {
        var webclient = new HttpBackendClient<Artist>("api/artist/1");
        artist = await webclient.GetRequest();
        yearsactive = artist.YearsActive.ToString();
    }

    public void UpdateMe()
    {
        if (Int32.TryParse(yearsactive, out int YA))
        {
            artist.YearsActive = YA;
            var webclient = new HttpBackendClient<Artist>("api/artist");
            webclient.PutRequest(artist);
        }

    }


}
