@using RSFrontEnd.Models;
@using RSFrontEnd.Clients;
@using RSFrontEnd.Models.InputModels;
@rendermode InteractiveServer


@if (artist == null)
{
    <Loader></Loader>
} else
{

    <div class="container">
    <div class="row align-items-start">

        <div class="col">
    
            <h1>@Success</h1>
            <h3>Update Artist</h3>
                
            <br />

            <label for="an">Artist Name:</label>
               
            <br />

            <InputText id="an" @bind-Value="@artist.Name"/>

            <br />

            <label for="au">Artist Url:</label>
               
            <br />

            <InputText id="au" @bind-Value="@artist.ImageUrl"/>

            <br />

            <label for="ya">Years Active:</label>
            
            <br />

            <InputNumber id="ya" @bind-Value="artist.YearsActive" />

            <br />

            <button @onclick="UpdateMe">Save changes?</button>

        </div>

        <div class="col">

            <img src="@artist.ImageUrl" width="300px"/>
    </div>
    </div>
        
    </div>
}

@code {

    [Parameter]
    public int Id { get; set; }

    public Artist artist { get; set; }

    public string Success { get; set;  }

    protected override async Task OnInitializedAsync()
    {
        var webclient = new HttpBackendClient<Artist>($"api/artist/{Id}");
        artist = await webclient.GetRequest();
    }

    public async void UpdateMe()
    {
        var webclient = new HttpBackendClient<Artist>("api/artist");
        var response = await webclient.PutRequest(artist);
        if (response == System.Net.HttpStatusCode.OK)
        {
            Success = "Record saved!";
        } else
        {
            Success = "Something has gone wrong! Please try again later";
        }
    }

    }


}
