@using RSFrontEnd.Models; 
@rendermode InteractiveServer


@if (DisplayArtists.Any())
{
    @foreach (var ar in DisplayArtists)
    {
        <div class="text-center bg-blue-100 searchbar">
        <p class="searchbar"><a>@ar.Name</a></p>
        </div>
    }
}

@code {

    [Parameter]
    public List<Artist> DisplayArtists { get; set; }
}
